<div class="container-fluid full-page position-relative">
  <div class="row">
    <div class="col-3 col-md-2 bg-dark full-page px-1 py-2 sidebar">
      <% @chatrooms.each do |chatroom| %>
        <% if chatroom.chats.any? %>
          <div class="dashboard-sidebar-chat bg-info">
            <%= link_to chatroom.email, chat_path(id: chatroom.id), remote: true, class: 'sidebar-chat' %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-9 col-md-10 bg-light full-page container">
      <h5 class="mt-4">👈 Select a chat from the sidebar to load the message</h5>
      <div class="admin-chat-wrapper">
        <h3 class="user-email mt-5"></h3>
        <div class="chat-form">
          <div class="admin-chats"></div>
          <%= form_with( scope: :chat, url: chats_path, format: :json, id: 'admin-chat-form') do |form| %>
            <div class="field">
              <%= form.text_field :message, id: :message, class: "form-control", required: true, placeholder: "Enter your message" %>
              <%= form.hidden_field :name, id: :name, value: 'Southville Sol support' %>
              <%= form.hidden_field :chatroom_id, id: :chatroom_id %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
